<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Good Dogs</title>
  </head>
  <body>
    <h1>Welcome to the Good Dogs!</h1>
    <p>An app for collecting all the good dogs</p>
    <a href="/fruits">Browse Dogs</a>
  </body>
</html>