<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dog Show Page</title> 
  </head>
  <body>
    <h4>Here Is Your Dog</h4>
    <h1><%= dog.name %></h1>
    <% if(dog.needsABrush) { %>
    <p>This dog needs a brush!</p>
    <% } else { %>
    <p>This dog does not need a brush!</p>
    <% } %>
    <form action="/dogs/<%= dog._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= dog.name %></button>
      </form>
      <a href="/dog/<%= dog._id %>/edit">Edit Dog</a>
      <a href="/dogs">Back to Dogs</a>
  </body>
</html>
